*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, Arial, sans-serif;
}

/*navbar 2*/
.navbar-logo{
    display: inline-block;
    width: 100%;
}


/*container 1 section 1*/
.container-1-content{
    background-image: url(../img/jumbo-bg.png);
    display: inline-block;
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-position: center center;
    margin-left: calc(-50vw + 50%);
    padding-left: 15px;
    color: white;
    vertical-align: bottom;
    position: relative
    
}

.banner1-img{
    width: 300px;
    display: inline-block;
    margin-top: 35%;
    margin-bottom: 20px;
}

.container-1-title{
    margin-bottom: 25px;
    
}

.container-1-p{
    margin-bottom: 30px;
    
}

.container-btn{
    border-radius: 20px;
}


/*vertical gutter*/
.img-effects{
    border-radius: 15px;
}


/*section 2*/
.section-2-content{
    text-align: center;
    margin-top: 60px;
    font-weight: 750;
}

/*section 3*/
.ps5-img{
    display: inline-block;
    width: 100vw;
}

.container-img{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.container-img-item{
    width: calc(100% / 3);
}


/*section 4*/
.container-it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    display: inline-block;
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-position: center center;
    margin-left: calc(-50vw + 50%);
    padding-left: 15px;
    color: white;
    vertical-align: bottom;
    position: relative
}

.banner-img{
    width: 300px;
    display: inline-block;
    margin-top: 10%;
    margin-bottom: 20px;
}

/*sezione 5*/

.caption{
    text-align: left;
    color: white;
}

/*sezione 6*/
.section-6{
    text-align: center;
}

.ps-img{
    display: inline-block;
    width: 100vw;
}



/*sezione 8*/
.container-img-sec8-item{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*sezione 9*/
.sezione-9{
    background-color: darkblue;
    width: 100vw;
}

.btn-ps-now{
    border-radius: 20px;
    background-color: white;
}


/*sezione 10*/
.social-title{
    margin-bottom: 50px;
}

.container-social{
    display: flex;
    flex-wrap: wrap;

}

.container-social-item{
    width: calc(90% / 2);
    margin: 0 auto;
    margin-bottom: 50px;
}